<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add chat</title>
</head>
<body>
    <h1> Add Chat </h1>
    <form method="POST" action="/chats">
        To : <input type="text" name="to"><br><br>
        From : <input type="text" name="from"><br><br>
        Message : <input type="text" name="message"><br><br>
        created_at : <input type="date" name="created_at"><br><br>

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>

    </form>
</body>
</html>