<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add User</h1>

    <form action="/user/add" method="post">
        id : <input type="text" name="id"><br><br>
        Username : <input type="text" name="username"><br><br>
        Email : <input type="email" name="email"><br><br>
        Password : <input type="text" name="password"><br>
        <button>Submit</button>
        
    </form>
</body>
</html>