<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form </title>
</head>
<body>
    <h1>Your mail is : <%= user.email %></h1>

    <form method="post" action="/user/<%= user.id%>?_method=patch">
       Username :  <textarea type="text" name="username"><%= user.username %></textarea> 
       <br>
       <br>
       Enter Password : <input type="password" name="password" >
       <button>Update Data</button>
    </form>

</body>
</html>